
.img-cover {
  width: 50%;
  }
.middle-div-img-cover {
  width: 20%;
}
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }


}

ul {
  list-style-type: circle;
  padding: 20px;
  font-size: 1.8em;
  color: white;
}

li {
  text-align: left;
  padding: 5px;
  font-size: 1.5em;
  color: white;
}

.title {
  padding: 20px;
  font-size: 2.875em;
  font-weight: bold;
}

.learn-more {
  padding: 0.5em;
  text-align: left;
  font-size: 0.875em;

}
button {
  font-family: inherit;
  font-weight: normal;

}

h1 {
  font-size: 70px;
}

h3 {
  padding: 50px;
}

.subtext {
  padding: 20px;
  font-size: 2em;

}

.infotext {
  padding: 0.5em;
  font-size: 1.5em;

}

.bottomdiv {
  background-color: black;
}

.bottomdivtitle {
  padding: 0.5em;
  font-size: 2.875em;
  font-weight: bold;
  color: white;
}

.bottomdivsubtext {
  padding: 0.5em;
  font-size: 1.5em;
  color: white;
  text-align: left;
}

.bottomdivinfotext {
  padding: 0.5em;
  font-size: 1.5em;
  color: white;
  text-align: left;
}

.middlediv {
  background-color: #3A89C5;
}

.middledivtitle {
  padding: 0.5em;
  font-size: 2.875em;
  font-weight: bold;
  color: white;
}

.middledivsubtext {
  padding: 0.5em;
  font-size: 2em;
  color: white;
}

.middledivinfotext {
  padding: 0.5em;
  font-size: 30px;
  color: white;
}

.social-media {
  text-align: left;
  
}

.i {
  background-color: black !important;
}

p {
  font-family:Arial
}

